body{
    font-family: 'Pragati Narrow','Roboto','Noto Sans JP', sans-serif;
    background-color: #f5f5f5;
}

header {
    width: 100%;
    padding: 0px 60px;
    line-height: 80px;
    text-align: right;
    background-color:rgba(255,255,255,0.5);
}

#index-header{
    color: #c0c0c0;
    font-size: 12px;
}

#pages-header{
    color: #808080;
}

#pages-header h1{
    color: #ff3366;
}

a:link { color: #808080; }
a:visited { color: #808080; }

h1,h2,h3,h4,h5,h6{
    font-family: "Rationale",sans-serif;
}

h1{
    font-size: 56px;
}

h2{
    font-size: 36px;
    padding: 15px 0px;
    margin: 0px;
}

footer {
    color: #fff;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #c0c0c0;
    text-decoration:none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

footer:hover{
    color: #c0c0c0;
    background-color: #fff;
}

/*==========================================================*/

.container{
    margin-top: 30px;
}

.panels{
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 30px;
    box-shadow:14px 12px 25px -10px #b5b5b5;
    -moz-box-shadow:14px 12px 25px -10px #b5b5b5;
    -webkit-box-shadow:14px 12px 25px -10px #b5b5b5;
}

.box-typeRX{
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    text-decoration:none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.box-typeRX:hover{
    color: #fff;
    transform: rotateX(360deg);
}

.box-typeRX-lightblue{
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    text-decoration:none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.box-typeRX-lightblue:hover{
    background-color: #46eeff;
    transform: rotateX(360deg);
}

.box-typeRX-blue{
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    text-decoration:none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.box-typeRX-blue:hover{
    color: #fff;
    transform: rotateX(360deg);
}

.box-typeA{
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    text-decoration:none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
 
.box-typeA:hover{
    color: #fff;
}

.box-typeA-orange a{
    color: #fff;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    text-decoration:none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.box-typeA-orange a:hover{
    color: #ff3300;
}

.box-typeA-lightblue a{
    color: #fff;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    text-decoration:none;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    transition: 0.75s;
}

.box-typeA-lightblue a:hover{
    color: #46eeff;
}

.box-typeA-blue a{
    color: #fff;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    text-decoration:none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.box-typeA-blue a:hover{
    color: #000066;
}

.box-typeAC-white {
    color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px 30px 10px;
    margin: 0px auto;
    text-decoration:none;
    overflow: hidden;
}
.box-typeAC-white::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    content: '';
    width: 0;
    height: 0;
    background-color: rgba(255,255,255,0.8);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.box-typeAC-white:hover::after {
    -webkit-animation: circle 1s;
    animation: circle 1s;
}
@-webkit-keyframes circle {
    50% {
        opacity: 1;
    }
    100% {
        width: 400px;
        height: 400px;
    }
}
@keyframes circle {
    50% {
        opacity: 1;
    }
    100% {
        width: 400px;
        height: 400px;
    }
}

.box-typeAC-pink {
    color: #ff3366;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px 30px;
    margin: 0px auto;
    text-decoration:none;
    overflow: hidden;
}
.box-typeAC-pink::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    content: '';
    width: 0;
    height: 0;
    background-color: rgba(255,51,102,0.8);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.box-typeAC-pink:hover::after {
    -webkit-animation: circle 1s;
    animation: circle 1s;
}
@-webkit-keyframes circle {
    50% {
        opacity: 1;
    }
    100% {
        width: 400px;
        height: 400px;
    }
}
@keyframes circle {
    50% {
        opacity: 1;
    }
    100% {
        width: 400px;
        height: 400px;
    }
}

/*==========================================================*/

#panel1{
    color: #000066;
    background-color: #000066;
}

#panel2{
    color: #fff;
    background-color: #fff;
    font-size: 42px;
    text-align: right;
}

#panel3{
    color: #ff3300;
    background-color: #ff3300;
}

#panel4{
    color: #fff;
    background-color: #fff;
    font-size: 42px;
    text-align: right;
}

#panel5{
    color: #46eeff;
    background-color: #46eeff;
}

#panel6{
    font-size: 40px;
    font-family: "Rationale",sans-serif;
    text-align: right;
}

#panel7{
    color: #fff;
    background-color: #ff3366;
    font-size: 100px;
    font-family: "Rationale",sans-serif;
    text-align: left;
}

#panel8{
    color: #fff;
    background-color: #fff;
    font-size: 42px;
    text-align: right;
}

#panel9{
    color: #000066;
    background-color: #000066;
    font-size: 12px;
}

/*==========================================================*/

#articles-container{
    margin-top: 155px;
    margin-bottom: 80px;
}

hr {
    height: 1px;
    width: 80%;
    background-color: #000;
    text-align: left;
    margin-left: 0;
    border: none;
}

.A-panels{
    width: 100%;
    background-color:rgba(255,255,255,0.8);
    margin-bottom: 30px;
    overflow: scroll;
    box-shadow:14px 12px 25px -10px #b5b5b5;
    -moz-box-shadow:14px 12px 25px -10px #b5b5b5;
    -webkit-box-shadow:14px 12px 25px -10px #b5b5b5;
}

.A-panels p{
    padding: 20px 20px;
    font-family:'Roboto','Noto Sans JP', sans-serif;
}

.box-typeD{
    width: 100%;
    height: 120px;
    padding: 15px 10px 20px;
}



#subhead1 {
    color: #ff3300;
}

#subhead2 {
    color: #46eeff;
}

#subhead3 {
    color: #000066;
}

#article1 p,#article2 p{
    font-size: 16px;
}

#article3 p{
    font-size: 14px;
}

/*==========================================================*/

li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    font-family: "Rationale",sans-serif;
    font-size: 20px;
}

.W-panels{
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 30px;
    text-align:center;
    vertical-align: center;
    box-shadow:14px 12px 25px -10px #b5b5b5;
    -moz-box-shadow:14px 12px 25px -10px #b5b5b5;
    -webkit-box-shadow:14px 12px 25px -10px #b5b5b5;
    opacity: 0.5;
}

img {
    max-width: 100%;
    height: auto;
}

/*==========================================================*/
@media screen and (min-width: 769px){

.A-panels{
    height: 600px;
}

}

/*==========================================================*/
@media screen and (max-width: 768px){

.A-panels{
    height: 700px;
}

}
/*==========================================================*/
@media screen and (max-width:640px){



}